:root {
    --primary-color: #1f2630;       
    --secondary-color: #ffffff;     
    --accent1-color: #264653;       
    --heading-font: "gabriola", "Arial Black", sans-serif; 
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns:  auto 3fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 12px 20px;
    font-size: 24px;
}
header img {
    max-height: 135px;
    width: auto;
}

header nav{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 4px;
    padding: 4px;
}

h1 {
    font-family: var(--heading-font);
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 14px;
    text-align: center;
    background-color: rgba(27, 54, 93, 0.85);
    color: var(--secondary-color);
    font-size: 2.5rem;  
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;  
}

main section {
    margin-bottom: 24px;
}
p {
    line-height: 1.5;
}

header nav ul {
    list-style-type: disc;
    margin-left: 20px;
}

header nav a {
    color: rgb(216, 216, 219);
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(26, 43, 68, 0.85); 
    color: var(--secondary-color);
    padding: 16px;
    margin: 0; 
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border: 1px solid #020101;
}

.hero article::after {
    content: "";
    display: table;
    clear: both;
}

.history {
    margin: 20px 0;
}
.history-container{
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 16px;
    align-items: center;
}

.history-container img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}
.adventure-gallery figure{
    flex: 1;
    margin: 0;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: 110px;
    object-fit: cover; 
    border-radius: 4px;
}
.adventure-gallery figcaption {
    font-size: 1.10rem;
    font-weight: bold;
    margin-top: 6px;
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 30px;
}

footer p {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
footer nav img{
    width: 30px;
    height: auto;
    margin-right: 10px;
    
}
.socialmedia{
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
}